<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BMS.DBH.Properties.Settings.BankDatabase6NFConnectionString"
            connectionString="Data Source=ISURU-PC\SQLEXPRESS2;Initial Catalog=BankDatabase6NF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BMS.DBH.Properties.Settings.ClientBankDatabase6NFConnectionString"
            connectionString="Data Source=|DataDirectory|\BankDatabase6NF.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>